
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label class="col-sm-4 control-label">Email:</label>
    <div class="col-sm-4">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'Email'%>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Password:</label>
    <div class="col-sm-4">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password' %>
    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-4 control-label">Password(again):</label>
    <div class="col-sm-4">
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control", placeholder: 'Password' %>
    </div>
  </div>

 <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <%= f.submit "Sign up", class: 'btn btn-success btn-sm' %>
    </div>
  </div>
<% end %>

<div class="col-sm-offset-4 col-sm-4">
<%= render "devise/shared/links" %>
</div>